html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  background-color: #1e1e1e;
}
input{
  padding: 10px;
}
input::placeholder{
  color: gray;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


