.wrapper {
    min-height: 100vh;
    height: 100vh;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
  }
  
  .messageList {
    flex: 1;
    overflow-y: scroll;
    padding: 1rem;
  }
  
  .messageList ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .messageBox {
    display: flex;
    width: 100%;
    padding: 1rem;
  }
  
  .messageBox textarea {
    border-radius: 7px;
    flex: 1;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #3b3b3d;
    color: grey;
  }
  .messageBox button {
    font-size: larger;
    border-radius: 7px;
    border-style: solid;
    border-width: .5px;
    border-color: grey;
    background-color: #3b3b3d;
    color: grey;
    width: 10%;
  }
  
  .message {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: solid 2px #333;
    font-size: 1.25rem;
    background-color: rgba(256, 256, 256, 0.8);
  }
  
  .messageInner {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .messageSender {
    color: #333;
    font-size: 0.75rem;
  }
  
  .messageBody {
    word-wrap: break-word;
  }